body {
	min-width:1000px;
	margin: 0;
	padding: 0;	
	font-size: 14px;
	color:#555;
	font-family:"segoe ui", tahoma, arial;
	background-color:#fcfcfc;
}

.navigation{

	height:100%;
	background-color: #f1f1f1;
	width: 190px;
	float: left;
	color: rgba(0,0,0,0.54);
}


.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.row{
    color: 009999;
    }
.navigation li a {
    display: block;
    color: #414549;
    padding: 15px 16px;
    text-decoration: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	
}
.container {
    position: relative;
    text-align: center;
}
/* Centered text */
.centered {
    position: absolute;
    width: 60%;
    top: 10%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
	font-size: 200%;
	font-family: "segoe ui", tahoma, arial;
    background: white;

}

.head{
    width: 100%;
}

.navigation li a:hover {
    background-color: #555;
    color: white;
}



.heading{
	color: #555;
	padding: 30px;	
	text-align: center;
	font-size: 24px;
	font-family: "segoe ui", tahoma, arial;
    
}

.ECM {

}

.heading img{
	float: left;
	
	}

.loginBox{
	padding: 20px;	
	text-align: center;
	width: 50%;
	height: 360px;
	margin-left:400px;
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;	
}

.userBox{
	padding: 20px;	
	text-align: center;
	width:78%;
	height: 50%;
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;	
	float: left;
}


.selectUser{
	text-align: left;
	margin-left: 270px;
}
.userContent{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;
	margin-left: 270px;
	width: 700px;
	height: 100px;
}

.mainContent{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;
	margin-left: 270px;
	width: 700px;
	height: 100%;
}

table.recordsTable {
    border-collapse: collapse;
    width: 100%;
	margin: 0 auto;
}

table.recordsTable th{
    color:#d10372;
	background-color: #e1e0e0;

}

.recordsTable td, .recordsTable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
	text-align: center;
}

.recordsTable tr:hover {
	background-color: #dddddd42;
}

.messageBox{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;
	width: 200px;
	height: 117px;
	float:left;
	position: absolute;
	margin-left: 720px;
	bottom: 18px;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
.approveButton{
	float: center;
	padding: 5px 5px;
	font-size: 10px;
	box-sizing: 10px;
}
.approveButton input[type=submit] {
  border: none; 
  font-size: 15px;
  height: 30px;
  width: 80px;
  background-color: #009999;
  padding:5px 15px; 
  border:0 none;
  color: white;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 


/* Style the tab content */
.tabcontent {
    display: none;
    padding: 15px;
    border: 1px solid #ccc;
    border-top: none;
	border: none;
	height: 250px;
}

.emptyBox{
	color: #555;
	background-color:#f3f3f3;
	box-sizing:border-box;
	border-color: solid;
	width: 100%;
	height:20px;
}

.roomContent{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;
	margin-left: 270px;
	width: 900px;
	height:310px;
}


.calendarTimeContent{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;
	margin-left: 270px;
	width: 500px;
	height:375px;
}
.month {
    padding: 70px 25px;
    width: 100%;
    background: #c4bebe;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #009999;
    color: white !important
}

@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 300px) {
    .weekdays li, .days li {width: 12.2%;}
}

.conditionsContent{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;
	margin-left: 330px;
	width: 800px;
	height: 250px;
}

.conditionsContent p{
	padding: 10px;
}

#pdfFile{
list-style-type: none;
padding: 0px 25px;
}

#checkConditions{
padding: 10px 25px;
}
.nextButton{
	float: right;
	margin-top: 20px;
	padding-left: 15px;
	margin-right:150px;
}

.contactButton{
	float: right;
	margin-top: 20px;
	margin-right:100px;
	
}

.contactButton input[type=submit] {
  border: none; 
  height: 35px;
  width: 300px;
  background-color: #009999;
  padding:5px 15px; 
  border:0 none;
  color: white;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.backButton{
  float: right;
  margin-top: 20px;
}

.backNextButtonDiv{
	text-align: center;
	margin-top: 20px;
}

.selectButton{
	float: right;
	margin-top: 20px;
	padding-left: 15px;
	margin-right:110px;
}

input[type=submit] {
  border: none; 
  height: 35px;
  background-color: #009999;
  padding:5px 25px; 
  margin-left: 50px;
  border:0 none;
  color: white;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.chooseUser{
	padding: 50px;
}
.chooseUser input[type=submit] {
  border: none; 
  height: 50px;
  width: 300px;
  background-color: #009999;
  padding:5px 15px; 
  border:0 none;
  color: white;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
   margin:0px 0px 10px -30px;
}



.subheading{
	color: #555;
	padding: 15px;	
	text-align: center;
	font-size: 18px;
	font-family: 'Gidugu', sans-serif;
}

.subheading h2{
	margin-top: 100px;
}

.printButton{
	float: right;
	margin-top: 20px;
	padding-left: 15px;
}

.printButton input[type=submit] {
  border: none; 
  height: 35px;
  width: 200px;
  background-color: #009999;
  padding:5px 15px; 
  border:0 none;
  color: white;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.emailButton{
	margin-top: 20px;
	float: right;
}

.emailButton input[type=submit] {
  border: none; 
  height: 35px;
  width: 200px;
  background-color: #009999;
  padding:5px 15px; 
  border:0 none;
  color: white;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

#boldText{
	text-decoration: bold;
}

.summaryContent{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: white;
	margin-left: 330px;
	width: 800px;
}
	

.summaryContent form{
	padding: 30px;
	margin-left: 100px;
}

.summaryContent form input{
	margin-left: 10px;
	 width: 100px;

}
.summaryContent form label{
    float: left;
    width: 250px;
    text-align: right;
}
.summaryContent form input {
  display: inline-block;
  float: left;
}

.calendarContent{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;
	margin-left: 330px;
	width: 800px;
	height: 250px;
	float: left;
}
.timeContent{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;
	margin-left: 200px;
	width: 450px;
	margin-bottom:5px;
	display: inline-block;
	margin-top: 30px;
	text-align:center;
}
	

.timeContent form{
	padding: 30px;
	margin-left:0;
}

.timeContent form input{
	float:none;
	width: 100px;

}
.timeContent form label{
	width: auto;
    text-align: left;
    float: none;
}
.timeContent form input {
  display: inline-block;
}

.roomInfo{
	float: right;
	margin-right: 20px;
	margin-top: -20px;
}

.roomInfo p{
	margin-top: -15px;
}

.roomInfoTwo{
	float: right;
	margin-right: 85px;
	margin-top: -20px;
}

.roomInfoTwo p{
	margin-top: -15px;
}

.roomInfoThree{
	float:right;
	margin-right: 30px;
	margin-top: -20px;
}

.roomInfoThree p{
	margin-top: -15px;
}

.roomInfoFour{
	float:right;
	margin-right: 0px;
	margin-top: -20px;
}

.roomInfoFour p{
	margin-top: -15px;
}
.roomInfoFive{
	float:right;
	margin-right: 30px;
	margin-top: -20px;
}

.roomInfoFive p{
	margin-top: -15px;
}

.roomInfoSix{
	float:right;
	margin-right: 30px;
	margin-top: -20px;
}

.roomInfoSix p{
	margin-top: -15px;
}

  .container {
      width: 700px;
	  display: inline;
	  margin-left: 1px;
      color: #009999;
	  
  }
  .progressbar {
      counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 17%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color: green;
  }
  .progressbar li.active:before {
      border-color: #55b776;
  }
  .progressbar li.active + li:after {
      background-color: #55b776;
  }
  
  .recordBookingContent{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;
	margin-left: 285px;
	width: 900px;
	height: 215px;
}
  
  
table.striped {
    border-collapse: collapse;
    width: 100%;
	margin: 0 auto;
}

.striped td, .striped th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
	text-align: center;

}


.striped tr:hover {background-color: #dddddd;}

table.eachBooking {
    border-collapse: collapse;
    width: 20%;
	margin: 0 auto;
	
}

.striped tr th{
	background-color: #f1f1f1;
	}

table.eachBooking {
    border-collapse: collapse;
    width: 40%;
	margin: 0 auto;
	
}
.eachBooking td, .eachBooking th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
	text-align: left;

}

.eachBooking tr:nth-child(even) {
    background-color: #dddddd;
}


.bookingInfoContent{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;
	margin-left: 330px;
	width: 800px;
	height: 300px;
}

.bookingInfoContent p{
	padding: 10px;
}

.cancelContent{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;
	margin-left: 330px;
	width: 800px;
	height: 150px;
	
}

.cancelContent p{
	padding: 10px;
	text-align: center;
}

.dashboardButton{
	float: center;
	margin-top: 20px;
	padding-left: 15px;
	margin-left: 280px;
}

.dashboardButton input[type=submit] {
  border: none; 
  height: 35px;
  width: 200px;
  background-color: #009999;
  padding:5px 15px; 
  border:0 none;
  color: white;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}


#viewBookingLink li {
    list-style-type: none;

}

#viewBookingLink li a {
    color: #414549;
    text-decoration: underline;
	text-align: center;
}

.historyBookingContent{
	color: #555;
	background-color:#ffffff;
	box-sizing:border-box;
	border-style: solid;
    border-color: gray;
	margin-left: 285px;
	width: 900px;
	height: 350px;
	overflow:auto;
	
}
  
header {
    text-align: center;
}

#calendar {
    width: 100%; 
}

#calendar a {
    color: #8e352e;
    text-decoration: none;
}

#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#calendar li {
    display: block;
    float: left;
    width:14.342%;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays {
    height: 40px;
    background: #555;
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #fff;
    font-size: 13px;
}

#calendar .days li {
    height: 100px;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #333;
    color: #fff;
    width: 20px;
    border-radius: 50%;
    float: right;
}

#calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aaf;
    text-decoration: none;
}

#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;  
}

#calendar .other-month {
    background: #f5f5f5;
    color: #666;
}



@media(max-width: 768px) {

    #calendar .weekdays, #calendar .other-month {
        display: none;
    }

    #calendar li {
        height: auto !important;
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }

    #calendar .date {
        float: none;
    }
	
.loginImages{
	float: right;
	padding-left: 30px;
}


.loginBackground{
	background: url("../images/instrumentLogin.jpeg")no-repeat center center fixed;
	background-size: cover;
}

